[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This app was developed for educational purposes
[access "refs/*"]
	owner = group user/Konstantinos Mavroudakis (kmav)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Konstantinos Mavroudakis (kmav)
	label-Verified = -1..+1 group user/Konstantinos Mavroudakis (kmav)
	push = group user/Konstantinos Mavroudakis (kmav)
	read = group user/Konstantinos Mavroudakis (kmav)
	rebase = group user/Konstantinos Mavroudakis (kmav)
	removeReviewer = group user/Konstantinos Mavroudakis (kmav)
	submit = group user/Konstantinos Mavroudakis (kmav)
[access "refs/heads/*"]
	create = group user/Konstantinos Mavroudakis (kmav)
	push = +force group user/Konstantinos Mavroudakis (kmav)
	pushMerge = group user/Konstantinos Mavroudakis (kmav)
	read = group user/Konstantinos Mavroudakis (kmav)
[access "refs/tags/*"]
	push = group user/Konstantinos Mavroudakis (kmav)
	push = +force group user/Konstantinos Mavroudakis (kmav)
